body {
  background-color: #dcdcdc;
  text-align: center;
  padding: 10px 0px;
}

img {
  width: 200px;
  border-radius: 50%;
}

.btn-purple {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(43, 63, 196, 0.9);
    color: #fff;
    text-decoration: none;
    padding: 16px;
    border-radius: 20px;
    display: block;
    font-size: 22px;
    width: 180px;
    margin: 20px auto;
}

.btn-purple:hover {
    color: #fff;
    background-color: rgba(102, 122, 255,0.8);
/*    color: #fff;
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;*/
}

a {
    margin: 10px;
    text-align: center;
    color: rgba(43, 63, 196, 0.9);
    font-size: 36px;
}

a:hover {
  color: rgba(102, 122, 255,0.8);
}

ul {
  padding: 0px;
}

div {
  background-color: #fff;
  width: 70vw;
  padding: 40px 30px;
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 4px 4px 8px rgb(200 200 200);
}

h1 {
  color: #d39929;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h2 {
  color: #d39929;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

p {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 24px;
}

